.basket__total {
    font-family: 'Montserrat';
    font-style: normal;
    background-color: white;
    width: 349px;
    height: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}